@import url('https://fonts.googleapis.com/css2?family=Monteserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
   background-color: whitesmoke;
   font-family: 'Monsteserrat', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
   overflow: hidden;
   padding: 10px;

}

.testomial-container{
    background-color: #7b2cbf;
    border-radius: 5px;
    margin: 20px auto;
    color: #fff;
    padding: 50px 80px;
    position: relative;
    max-width: 768px;
}

.fa-quote{

    color: rgba(255,255,255,0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-left{
    right: 40px;
}

.fa-quote-right{
    left: 40px;
}

.testomial {
    line-height: 28px;
    text-align: center;
}

.user{

    display: flex;
    align-items: center;
    justify-content: center;

}

.user .user-image{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}


.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {

    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {

    background-color: #fff;
    position: absolute;
    top: 30px;
    height: 4px;
    width: 80%;
    animation: grow 10s linear 
    infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }
  




@media (max-width: 768px) {
    .testomial-container{
        padding: 20px 30px;
    }

    .fa-quote{
        display: none;
    }
    .progress-bar{
        top: 10px;
    }
}
