@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{

    font-family: 'poppins',sanserif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    background-color: steelblue;
    color: whitesmoke;
    
}

h2{
    
    display: inline-flex;
    font-size: 1.7rem;
    padding:20px;
    margin: 20px 0;
    align-items: center;
    border-radius: 10px;
    background: rgba(4, 2, 2, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
   
}

a{
    text-decoration: none;
    color: whitesmoke;
}

