
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{

    font-family: 'Roboto' ,sans-serif;
    margin: 0;
    display: flex;
    background-color: steelblue;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1{
   
   position: absolute;
   top: 200px;
   left: 40rem;
   
}



.empty{
    width: 150px;
    height: 150px;
    border: solid 3px black;
    background: white;
    margin: 10px;
}

.hold{
    border: solid 5px #ccc;
}

.hovered{
    background-color: grey;
    border-color: white;
    border-style: dashed;
}

.fill{
     background-image: url('http://source.unsplash.com/random/150x150');
     width: 145px;
     height: 145px;
     cursor: pointer;
}

@media (max-width: 800px) {
    body{
        flex-direction: column;
    }
}