@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


*{
  box-sizing: border-box;
}

body{
  font-family: 'poppins',sanserif;
  display: flex;
  align-items: center;
  justify-content: center;
   flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  background-color: #c01111;
  
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

  text-align: center;
}

.btn{
     background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(10.3px);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 1.5rem 3rem;
    font-size: 20px;
   cursor: pointer;
   margin: 1rem;
  font-family: inherit;
}
.btn:focus{
  outline: 0;
}
.btn:hover{
   opacity: 0.9;
}