
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



*{
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    font-family: 'muli' , sans-serif;

}
